<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>一覧画面</title>
</head>
<body>
    ユーザーデータテーブル(user_data)の全データ<br/><br/>

    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>生年月日</th>
            <th>性別</th>
        </tr>
        <!-- context_object_nameで指定した一覧取得結果を画面に表示 -->
        {% for user in user_list %}
             <tr>
                 <td>{{ user.id }}</td>
                 <td>{{ user.name }}</td>
                 <td>{{ user.birth_year }}年
                     {{ user.birth_month }}月
                     {{ user.birth_day }}日</td>
                 <td>
                     {% if user.sex|stringformat:"s" == "1" %}
                         男
                     {% elif user.sex|stringformat:"s" == "2" %}
                         女
                     {% endif %}
                 </td>
             </tr>
        {% endfor %}
    </table>
    <br/><br/>
    <!-- action属性のURLで、(demoフォルダ内)urls.pyの画面遷移先のname属性の値を指定している -->
    <form action="{% url 'input' %}" method="post">
        <!-- 下記csrf_tokenは、CSRF対策を行うことでform送信時エラーを防ぐために設定 -->
        {% csrf_token %}
        <input type="submit" name="next" value="データ追加" />
    </form>
</body>
</html>