<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/demo.css" type="text/css">
    <script src="../static/demo.js"></script>
    <title>確認画面</title>
</head>
<body>
    入力内容を確認し、問題なければ「送信」ボタンを押下してください。
    <br/><br/>
    <!-- エラーメッセージを表示 -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li class="errorMessage">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form>
        <table border="0">
            <tr>
                <td align="left" valign="top">名前： </td>
                <td>{{ form_data.name }}</td>
            </tr>
            <tr>
                <td align="left" valign="top">生年月日： </td>
                <td>
                    {% if form_data.birthYear != '' and form_data.birthMonth != '' and form_data.birthDay != '' %}
                        {{ form_data.birthYear }}年{{ form_data.birthMonth }}月{{ form_data.birthDay }}日
                    {% else %}
                        不明
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td align="left" valign="top">性別： </td>
                <td>
                    {% if form_data.sex == '1' %}
                        男
                    {% elif form_data.sex == '2' %}
                        女
                    {% else %}
                        不明
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td align="left" valign="top">メモ： </td>
                <td>
                    <!-- テキストエリアの改行コードを変換し、改行された状態で表示 -->
                    {{ form_data.memo.replace("\r\n", "<br>") | safe }}
                </td>
            </tr>
            <tr>
                <td align="left" valign="top">確認チェック： </td>
                <td>
                    {% if form_data.checked == 'on' %}
                        確認済
                    {% else %}
                        未確認
                    {% endif %}
                </td>
            </tr>
        </table>
        <br/><br/>
        <input type="button" value="送信" onclick="send()" />　
        <input type="button" value="戻る" onclick="back()" />
        <!-- 次画面で利用できるよう、hidden属性で、入力画面の各項目値を送信 -->
        <input type="hidden" id="name" name="name" value="{{ form_data.name }}" />
        <input type="hidden" id="birthYear" name="birthYear" value="{{ form_data.birthYear }}" />
        <input type="hidden" id="birthMonth" name="birthMonth" value="{{ form_data.birthMonth }}" />
        <input type="hidden" id="birthDay" name="birthDay" value="{{ form_data.birthDay }}" />
        <input type="hidden" id="sex" name="sex" value="{{ form_data.sex }}" />
        <input type="hidden" id="memo" name="memo" value="{{ form_data.memo }}" />
        <input type="hidden" id="checked" name="checked" value="{{ form_data.checked }}" />
    </form>
</body>
</html>
